.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.ss {
    display: flex;
}

.sect {
    display: flex;
    background-image: url(image/Background\ Patterns.png);
    height: 800px;
}

.bas {
    /* background-image: url(image/Image.png); */
}